.medium-space{
    margin: 20 ;
    background-color: #575757;
}

label{
    color:  rgb(16, 238, 158);
}

actionbar{
    background-color:  rgb(16, 238, 158);
}

.mdi {
    font-family: "Material Icons", "MaterialIcons-Regular";
  }